{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<h1>User Profile ...</h1>
<hr>
	<div class="card mb-3 " style="max-width: 540px; border-radius: 5%">
			<div class="row no-gutters">
			<div class="col-md-4">
				{% if user_page.profile_image %}
					<img  class=" card-img " src="{{user_page.profile_image.url}}">
				{% else %}
					<img class="card-img rounded-circle" src="{% static 'blog/images/default.jpg' %}">
				{% endif %}
		    </div>
		    <div class="col-md-8">
		      	<div class="card-body">
			        <h5 class="card-title">
			        	{{user_page.user.username}}
			        </h5>
			        <p class="card-text">
			    		{% if user_page.website_urls %}
							<a href="{{user_page.website_urls}}">Website</a>
						{% endif %}	
						{% if user_page.instagram_urls %}
							<a href="{{user_page.instagram_urls}}">| Instagram</a>
						{% endif %}	
						{% if user_page.github_urls %}
							<a href="{{user_page.github_urls}}">| Github</a>
						{% endif %}
						{% if user_page.twitter_urls %}
							<a href="{{user_page.twitter_urls}}">| Twitter</a>
						{% endif %}
						{% if user_page.facebook_urls %}
							<a href="{{user_page.facebook_urls}}">| Facebook</a>
						{% endif %}</p>
						<p>{{user_page.date_joined}}</p>
		      	</div>
		    </div>
	  	</div>
	</div>
{% endblock %}
