{% extends 'blog/base.html' %}

{% block content %}

{% if category_posts %}

<h1>{{cats}}</h1>

{% for post in category_posts %}

		<li><a href="{% url 'post-detail' post.pk %}">{{post.title}} </a> 
			<a class="btn btn-sm btn-outline-secondary" href="{% url 'category' post.category %}">{{post.category}}</a>
		{{post.date_published|date:"F j, Y"}} - {{post.author}}</li><br>
		<p>{{post.content|slice:"200"|safe}}</p>



{% endfor %}

{% else %}

<p class="alert alert-warning"> Sorry this page is not exist</p>

{% endif%}

{% endblock %}