{% extends 'blog/base.html' %}
	
	{% block title %}
		<title>detail-{{post.title}}</title>
	{% endblock %}

	{% block content %}
		<h1>
			{{post.title}} ---
		</h1><small>{{post.posted}}</small><br>
		<p class="d-flex">{{post.content|safe}}<br></p>
		<small>{{post.author.username}}</small><br>
		<br>
		{% if user.is_authenticated %}
			{% if post.author == user%}
				<a class="btn btn-sm btn-outline-info" href="{% url 'post-update' post.id %}">Update Post</a>
				<a class="btn btn-sm btn-outline-warning" href="{% url 'post-delete' post.id %}">Delete Post</a>
				<br>
			{% endif %}
		{% endif %}
		
		{% if user.is_authenticated %}
		<br>
			<form action="{% url 'like-post' post.id %}" method="POST">
				{% csrf_token %}

				{% if liked %}
					<button class="btn btn-sm btn-outline-danger" type="submit" name="post_id" value="{{post.id}}">Unlike</button>
				{% else %}
					<button class="btn btn-sm btn-outline-success" type="submit" name="post_id" value="{{post.id}}">Like</button>
				{% endif%} ... {{total_likes}} <span class="text-muted">likes</span>
			</form>
		{% endif %}
		<hr><br>
	<a href="{% url 'home' %}" class="btn btn-sm btn-outline-primary">back to home</a>
		

		
	
	{% endblock %}