{% extends 'blog/base.html' %}
	{% load static %}
	{% block content %}
		{% for post in object_list %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h5>
					<p class="card-text">{{post.snippet|safe}}</p>
					<h6 class="card-subtitle mb-2 text-muted">{{post.author.username}}</h6>
					{% if post.author.profile.profile_image %}
						<img class="rounded-circle" width="25" height="25" src="{{post.author.profile.profile_image.url}}" alt="">
					{% else %}
						<img class="rounded-circle" width="25" height="25" src="{% static 'blog/images/default.jpg' %}" alt="">
					{% endif %}
					<p class="card-text"><small class="text-muted">Last updated on {{post.posted}}</small></p>
					<a href="{% url 'category' post.category|slugify %}" class="card-link">{{post.category}}</a>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
