{% extends 'blog/base.html' %}

{% block title %}
	{{post.title}}	
{% endblock %}

{% block content %}

curent user: {{user.id}}

<h1>{{post.title}} <small>by {{post.author}}</small> <span style="font-size: 10px" class="text-muted">{{post.date_published|date:"F j, Y"}}</span></h1>
<p>{{post.content}}</p>

{% if user.is_authenticated and user.id == post.author.id%}
<a class="btn btn-sm btn-outline-info" href="{% url 'post-update' post.id %}">Edit</a>
<a class="btn btn-sm btn-outline-warning" href="{% url 'post-delete' post.id %}">Delete</a>
{% endif%}
<hr>

<form action="{% url 'like-post' post.id %}" method="POST">
	{% csrf_token %}
	<button class="btn btn-sm btn-success" name="post_id" value="{{post.id}}" type="submit">like</button>- <small class="btn btn-sm btn-info">{{total_likes}} likes</small>
</form>

<hr>
<a class="btn btn-light btn-sm" href="{% url 'home' %}">back</a>
{% endblock %}
